/* 
  1. Global styles
*/
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Lato:wght@100;400;700&family=Roboto+Slab:wght@100;300;700&display=swap');
:root {
  --bg: #fff9f9;
  --brown: #654a38;
  --blue: #486788;
  --header: #66707a;
  --white: #fff;
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Lato';
  background: var(--bg);
  line-height: 1.3;
}
#root {
  overflow: hidden;
}
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
}
/* 
  2. Mobile styles
*/
.navbar-mobile {
  width: 100vw;
  height: 60px;
  background: var(--blue);
  position: fixed;
  top: 0;
  transition: 0.3s;
  z-index: 10;
}
.navbar-mobile.active {
  background: var(--bg);
}
.navbar__checkbox {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 35px;
  width: 25px;
  height: 25px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.mobile__hamburger {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 35px;
  width: 25px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.hamburger__line {
  width: 100%;
  height: 3px;
  background: var(--white);
  transition: 0.3s;
}
.mobile__hamburger.active .hamburger__line {
  background: var(--blue);
}
.mobile__hamburger.active .hamburger__line-top {
  transform: translate(0, 11px) rotate(45deg);
}
.mobile__hamburger.active .hamburger__line-mid {
  opacity: 0;
}
.mobile__hamburger.active .hamburger__line-bottom {
  transform: translate(0, -11px) rotate(-45deg);
}

/* 2.1 Mobile Menu */

.mobile-menu {
  width: 100vw;
  height: calc(100vh - 60px);
  background: var(--bg);
  position: fixed;
  top: 60px;
  left: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  flex-direction: column;
  z-index: 10;
}
.mobile-menu.active {
  transform: translate(-100vw, 0);
}
.mobile-menu ul {
  list-style: none;
  padding: 0;
}
.mobile-menu li {
  margin: 15px 0;
  text-align: center;
}
.mobile-menu a {
  color: var(--blue);
  font-size: 22px;
}

.menu-logo {
  width: 250px;
  margin: 30px 0 100px 0;
}
.menu-logo h3 {
  font-size: 12px;
  font-weight: normal;
  color: var(--brown);
  text-align: center;
}

/* 2.3 Hero */
.hero-container {
  margin: 70px 0 0 0;
  padding: 0 0 35px 0;
}
.hero-logo,
.hero-logo h3 {
  max-width: 250px;
  margin: 0 auto;
}

.hero-logo h3 {
  font-size: 12px;
  font-weight: normal;
  color: var(--brown);
  text-align: center;
}

/* 2.3.1 - Slider */
.hero-slider {
  margin: 15px 0 0 0;
}
.swiper-button-next,
.swiper-button-prev {
  color: var(--white) !important;
}

@media (min-width: 700px) {
  .swiper-slide {
    height: 400px !important;
    position: relative;
  }
  .swiper-slide img {
    position: absolute;
    top: -11%;
  }
}
.hero-welcome h1,
.hero-welcome h3 {
  margin: 0 auto;
  color: var(--brown);
  font-family: 'Roboto Slab', serif;
  text-align: center;
}
.hero-welcome h1 {
  font-size: 40px;
  font-weight: 100;
  text-transform: uppercase;
  line-height: 1.2;
}
.hero-welcome h3 {
  font-size: 20px;
  font-weight: 300;
  padding: 0 15px;
}
.hero-image {
  margin: 5px auto 0 auto;
  padding: 0 0 20px 0;
}
.image-wrapper {
  max-width: 90%;
  margin: 0 auto;
  padding: 40px 0 0 0;
  border-top: 2px solid var(--brown);
}
.hero-image:first-of-type .image-wrapper {
  border-top: none;
}

.hero-image h5 {
  font-size: 20px;
  text-align: center;
  color: var(--blue);
  margin: 15px auto 5px auto;
}
.hero-image p {
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
  color: #b6b6b6;
}
.hero-info {
  margin: 30px 0 0 0;
}
.hero-info h2,
.hero-info h4 {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  margin: 0 auto;
  padding: 0 15px;
}
.hero-info h2 {
  font-size: 28px;
  color: var(--brown);
}
.hero-info h4 {
  font-size: 20px;
  font-weight: 300;
  color: #545454;
}
.info-item {
  margin: 30px 0 0 0;
}
.info-item__header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.info-item h3 {
  color: var(--blue);
  text-align: center;
  margin: 0 30px 0 0;
  font-size: 22px;
}
.info-item svg {
  color: var(--brown);
  font-size: 55px;
}
.info-item p {
  padding: 0 25px;
  color: var(--brown);
  margin: 15px 0 0 0;
  text-align: justify;
}

/* 2.4 blue */

footer {
  display: flex;
  background: var(--blue);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--white);
}
.footer-section:first-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.footer-section:first-of-type {
  font-family: 'Roboto Slab', serif;
  padding: 30px 15px 30px 15px;
}
.footer-section:first-of-type span {
  font-size: 23px;
  text-align: center;
}
.icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer-section1 svg {
  font-size: 20px;
  margin: 0 5px 0 0;
}
.footer-mail,
.footer-number {
  margin: 12px 0 0 0;
}
.footer-mail a,
.footer-number a {
  font-size: 16px;
  color: var(--white);
}
.footer-line {
  width: 90%;
  height: 1px;
  background: var(--header);
  margin: 0 0 20px 0;
}
.footer-links {
  margin: 0 0 25px 0;
}
.footer-section:last-of-type ul {
  max-width: 330px;
  margin: 0 auto;
  text-align: center;
}
.footer-section:last-of-type li {
  display: inline-block;
  padding: 5px;
}
.footer-section:last-of-type a {
  color: var(--white);
}
.footer-privacy {
  max-width: 330px;
  margin: 0 auto;
  font-size: 16px;
  text-align: center;
  padding: 0 15px 50px 15px;
}
